@import "../../vars.scss";

.cardsColumnsContainer {
  column-gap: 0.5rem !important;
  background: $light-gray;
}

@media only screen and (max-width: 768px) {
  .cardsColumnsContainer {
    column-count: 1;
  }
}
