.container_user-page {
  .user-page__info-container,
  .user-page__info-container--lower {
    padding: 0 7rem;
  }
  .user-page__card-columns {
    column-gap: 0.5rem !important;
  }
  @media only screen and (max-width: 768px) {
    .user-page__info-container,
    .user-page__info-container--lower {
      padding: 0 0.5rem;
    }
    .user-page__card-columns {
      column-count: 1;
    }
  }
}
