@import "./styles/pages/home.scss";
@import "./styles/pages/photoDetails.scss";
@import "./styles/pages/userCollection.scss";
@import "./styles/pages/collections.scss";
@import "./styles/pages/userPage.scss";

@import "./styles/components/Nav.scss";
@import "./styles/components/Card.scss";
@import "./styles/components/CollectionCards.scss";
@import "./styles/components/ComingSoon.scss";
@import "./styles/components/Footer.scss";
@import "./styles/components/Homelink.scss";
@import "./styles/components/Link.scss";
@import "./styles/components/Layout.scss";
@import "./styles/components/Sidebar.scss";
@import "./styles/components/Skeleton.scss";
@import "./styles/components/Tag.scss";
@import "./styles/components/Userlink.scss";

@import "./vars.scss";

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.feature-photo {
  border-radius: 8px;
}
.full-height--with-footer {
  height: calc(100vh - 60px);
}

@media only screen and (max-width: 768px) {
  .feature-photo {
    border-radius: unset;
    width: 100%;
  }
}
