body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.feature-photo {
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .feature-photo {
    border-radius: unset;
    width: 100%;
  }
}
