.infoSectionContainer {
  max-width: 37.5rem;
}

.tags:hover {
  color: black !important;
  background: transparent;
}

.relatedSection {
  margin-top: 5rem;
}

.backToHome {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}
