.cardImage {
  cursor: zoom-in;
}

.cardPhoto {
  background-color: #333333;
  height: 400px;
}
.cardImage:hover .cardPhoto {
  filter: brightness(50%);
}

.cardImage:hover .userInfo {
  visibility: visible;
}
.cardImage:hover .galleryBtnContainer {
  visibility: visible;
}

.avatar {
  border-radius: 7px;
}

.likes {
  margin-top: 0.2rem;
  color: #ffffff;
}

.likesMobile {
  color: #333333;
}
.galleryBtnContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  visibility: hidden;
}

.galleryBtn {
  color: #ffffff;
  border: 1px solid #ffffff;
  background: transparent;
  font-weight: 400;
}

.galleryBtn:hover {
  background: #ffffff;
  color: #181818;
}

.photoUsername {
  line-height: 1.2;
}

/* skeleton css */
.imageSkeleton {
  height: 300px;
  background: #333333;
}

.avatarSkeleton {
  background: #333333;
  height: 40px;
  width: 40px;
}

.usernameSkeleton {
  background: #333333;
  height: 30px;
  width: 150px;
}

.likeSkeleton {
  background: #333333;
  height: 25px;
  width: 25px;
}

.userInfo {
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.cardUserLink {
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .cardImage:hover {
    opacity: 0;
  }
}
