@import "../../vars.scss";

.navbarContainer {
  color: $white;
  min-height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #262626;

  .navbar {
    min-height: 60px;
  }

  .gradientSpan {
    font-weight: bold;
    background: $grandient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .collapseContainer {
    visibility: hidden;
  }
  .navHomeLink {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbarContainer {
    .collapseContainer {
      visibility: visible;
    }
    .navLinks {
      margin: 1.5rem 0;
      font-size: 1rem;
      a {
        color: $white !important;
      }
    }

    .active {
      padding: 10px !important;
      color: $white;
      border-radius: 5px;
      background: $grandient;
    }
  }
}
