.skeleton_avatar {
  height: 50px;
  width: 50px;
  background: $dark-gray;
}

.skeleton_username {
  height: 40px;
  width: 300px;
  background: $dark-gray;
}

.skeleton_featured-photo {
  width: 400px;
  height: 400px;
  background: $dark-gray;
}

.skeleton_photo-data {
  height: 30px;
  width: 100px;
  background: $dark-gray;
}

.skeleton_date {
  height: 30px;
  width: 200px;
  background: $dark-gray;
}
